{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Games Center | Home</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
</head>
<body> 
<!--header-->	
<div class="header" >
	<div class="top-header" >		
		<div class="container">
		<div class="top-head" >	
				<ul class="header-in">
				<li ><a href="{% url 'accounts:login' %}" > <i class="fa fa-sign"></i> Login</a></li>
				<li><a href="{% url 'accounts:register' %}"><i class="fa fa-check"></i>   Register</a></li>
				<li ><a href="{% url 'accounts:logout' %}" ><i class="fa fa-arrow-right"></i>   Logout</a></li>
			</ul>
				<div class="search">
					<form>
						<input type="text" value="search about something ?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search about something ?';}" >
						<input type="submit" value="" >
					</form>
				</div>
		
			
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>
</div>
<!--banner-->
<br>
<br>
<br>
<br>
<style>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.form{
		margin-top: 50px;
		margin-bottom: 100px;
	}

</style>
{% block content %}

{% endblock content %}
<br>
<br>
<br>
<br>
<!---->
	<div class="footer">	
			<p class="footer-class">  Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			
		</div>

</body>
</html>