{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box m-auto">
					<div class="row">
						<div class="col-sm-6">
							<div class="m-auto">
								<img src="request.user.user_profile.image.url" alt="">
							</div>
						</div>
						<div class="col-sm-6">
							<ul class="list-group">
							  <li class="list-group-item active"><h4>Username : {{request.user.username}}</h4></li>
							  <li class="list-group-item"><h4>First Name ; {{request.user.first_name}}</h4></li>
							  <li class="list-group-item"><h4>Last Name ; {{request.user.last_name}}</h4></li>
							   <li class="list-group-item"><h4>Email ; {{request.user.email}}</h4></li>
							</ul>
						</div>
					</div>
				

				</div>
				<div class="mt-5">
					<button onclick="Show()" class="btn btn-success btn-md">Edit Profile</button>
				</div>
				<div class="mt-5" id="edit" style="display:none;">
					<form action="" method="POST">
						{{form|crispy}}
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<input type="submit" class="btn btn-success btn-md" value="Update">
							</div>
							<div class="col-sm-6">
								<button class="btn btn-danger btn-md" onclick="Hide()"> Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box w-75 m-auto">
					<img src="/static/images/2.jpg" alt="">
				</div>
			</div>
		</div>
	
	</div>

	<script>
		function Show(argument) {
			document.querySelector('#edit').style = 'display:block;'
		}
		function Hide(argument) {
			document.querySelector('#edit').style = 'display:none;'
		}
	</script>
{% endblock content %}