{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box m-auto">
				<form action="" method="POST">
					{{form|crispy}}
					{% csrf_token %}
					{# <input type="hidden" value="{{ next }}"> #}
					<input class="btn btn-success btn-md" type="submit" value="Login">
				</form>
			</div>
			</div>
			<div class="col-md-6">
				<div class="box w-75 m-auto">
					<img src="/static/images/2.jpg" alt="">
				</div>
			</div>
		</div>
	
	</div>

	
{% endblock content %}