{% extends "wrapper.html" %}
{% load static %}
{% block content %}
	

	<div class="banner">
<div class="container">	
		  <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
						<div class="banner-top">
							<img src="/static/images/12.jpg" class="img-responsive" alt="">
						</div>
						  <div class="banner-top banner-bottom">
							<img src="/static/images/11.jpg" class="img-responsive" alt="">
						</div>
				   		 <div class="clearfix"> </div>
				   	 </div>
				   
			</article>
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   		<div class="banner-wrap">
						
						<div class="banner-top">
							<img src="/static/images/14.jpg" class="img-responsive" alt="">
						</div>
						  <div class="banner-top banner-bottom">
							<img src="/static/images/13.jpg" class="img-responsive" alt="">
						</div>
				   		 <div class="clearfix"> </div>
						
				   	 </div>
			</article>
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   		<div class="banner-wrap">
							<div class="banner-top">
							<img src="/static/images/16.jpg" class="img-responsive" alt="">
						</div>
						  <div class="banner-top banner-bottom">
							<img src="/static/images/15.jpg" class="img-responsive" alt="">
						</div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			</div>
			 <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="wmuActive">2</a></li>
                </ul>
		</div>
		<!---->
		  <script src="/static/js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider({
					 pagination : true,
					 nav : false,
				});         
   		     </script> 	
		
		</div>   
	</div>
<!--content-->
<div class="content">
	<div class="container">
			<div class="content-top">
				<h2 class="new">NEW GAMES</h2>
			
			<div class="wrap">	
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{% for game in games %}				
					<li>
						<a href="#" data-largesrc="{{game.image.url}}" data-title="{{game.title}}" data-description="{{game.info}}">
							<img class="img-responsive" src="{{game.image.url}}" alt="{{game.title}}"/>
						</a>
					</li>
					{% endfor %}
					 <div class="clearfix"> </div>
					</ul>
				</div>
			</div>
		</div>
<script src="js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
	</div>

		<div class="featured">
			<div class="container">
				<div class="col-md-4 latest">
					<h4>Latest</h4>
					{% for game in games %}
					<div class="late">
						<a href="#" class="fashion">
							<img class="img-responsive " src="{{game.image.url}}" alt="">
						</a>
						<div class="grid-product">
							<span>{{game.year}}</span>
							<p><a href="single.html"> {{game.title}}</a></p>
							<a class="comment" href="#"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-4 latest">
					<h4>Featured</h4>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la3.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la2.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la1.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 latest">
					<h4>Popular</h4>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la1.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
					<div class="late">
						<a href="single.html" class="fashion"><img class="img-responsive " src="/static/images/la3.jpg" alt=""></a>
						<div class="grid-product">
							<span>6 Apr, 2015</span>
							<p><a href="single.html"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
							<a class="comment" href="single.html"><i> </i> 0 Comments</a>
						</div>
					<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	{% endblock content %}