{% extends 'wrapper.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
				<ul class="nav">
			
					<li class="nav-item">
						<h3 class="">{{object.title}}</h3>
						<br><hr>
						<h4>{{object.body}}</h4>
						<hr>
						<a href="{{post.pk}}" class="btn btn-success btn-md">Read more</a>
						<br>
						<a href="{{object.get_absolute_url}}" class="btn btn-success btn-md">Delete Post</a>
					</li>
			
				</ul>
				<ul class="nav">
				{% for post in object_list %}				
					<li class="nav-item">
						<h3 class="">{{post.title}}</h3>
						<br><hr>
						<h4>{{post.body}}</h4>
						<hr>
						<a href="{{post.pk}}" class="btn btn-success btn-md">Read more</a>
						<br>
						<a href="{{post.get_absolute_url}}" class="btn btn-success btn-md">Delete post</a>
					</li>
				{% endfor %}
				</ul>
		</div>
			<div class="col-md-6">
				<div class="box m-auto">
					<img src="/static/images/2.jpg" style="width:50%;" alt="">
				</div>
			</div>
	</div>
</div>

{% endblock %}