{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box m-auto">
					<ul class="nav">
						<li class="nav-item">Usrname :{{request.user.username}}</li>
						<li class="nav-item">First Name:{{request.user.first_name}}</li>
						<li class="nav-item">Last Name:{{request.user.last_name}}</li>
						<li class="nav-item">Email:{{request.user.email}}</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box w-75 m-auto">
					<img src="/static/images/2.jpg" alt="">
				</div>
			</div>
		</div>
	
	</div>

	
{% endblock content %}